<html>
<head>
    <title>{{ page_title }}</title>
</head>
<body><p>Page: <strong>{{ page_title }}</strong>, managed by <code>{{ controller }}</code></p>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/example-route">Example</a></li>
    <li><a href="/kjadsfkjagjfhga">Non existing URL</a></li>
</ul>
</body>
</html>